<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
</head>

<body>
  <h1>Register For Auth</h1>
  <form action="/auth/register" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="username" required>

    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" required>
    </div>
    <div>
      <label>Confirm Password:</label>
      <input type="password" name="password2" required>
    </div>
    <button type="submit">Register</button>
  </form>

  <hr>
  <h1>User Register</h1>
  <form action="/users/register" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" required>
    </div>
    <div>
      <label>Confirm Password:</label>
      <input type="password" name="password2" required>
    </div>
    <button type="submit">Register</button>
</body>